#inicio{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 15vh;
}
#hea1{
 height: 125px;
 margin-top: 20px;
 margin-bottom: -35px;   
}
#btnM{
    padding: 10rem;
    max-width: 300px;
    height: 200px;
    width: 200px;
    position: absolute;
    
}
#segundo {
    display: flex;
    padding: 2rem;
    height: 70px;
    width: 100%;
    background-color: #dc1a1a;
}
#segundo2{
    background-color: black;
    margin-top: 0px;
    padding: 1rem;
    height: 35px;
}
#fot{
    padding: 0;
    height: 3rem;
    width: 100%;
    margin-top: -1rem;
    background-color: black;
}
#fot2{
    padding: 0;
    height: 2rem;
    width: 100%;
    margin-top: -4.5rem;
    background-color: #dc1a1a;
}

.image1 {
    display: flex;
    width: 500px;
    padding: 0;
    margin-top: -4rem;
    margin-left: 1rem;
    position: absolute;
}
#p1 {
    display: flex;
    padding: 5px;
    margin-top: -5.5rem;
    height: 8vh;
    font-size: 2.5rem;
}
#secP {
    padding: 0;
    font-size: 60px;
    margin-top: -3rem;
    margin-left: 1rem;
    color: red;
}
#terP {
    display: flex;
    padding: 0;
    font-size: 50px;
    margin-left: 1rem;
    margin-bottom: 5rem;
}
#priF{
    display: grid;
    grid-template-columns: 1fr;
    max-width: 100vh;
    padding: 0;
    gap: 1rem;
}
#fot{
    border: 1px solid red;
    
}
#che {
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0.8rem 0.5rem 0.5rem;
    margin-top: -1rem;
    height: 2rem;
    width: 14.1rem;
    margin-bottom: 3rem;
    margin-left: 4rem;
}
article {
    display: flex;
    flex-direction: column;
    width: 8rem;
    padding: auto;
}
.pokedex2 {
  display: flex;
  margin-left: 3px;
  max-width: 300px;
  width: 180px;
  
}
.resident {
    display: grid;
    justify-content: space-evenly;
    width: 100%;
    max-width: 300px;
    background-color: rgb(54, 53, 52);
    color: white;
    border-radius: 1em;
    overflow: hidden;
    border: 5px solid coral;
}
.resident_header {
    position: relative;
}
.resident_body {
    padding: 1.5em 1em 2.5em;
}
.resident_name {
    text-align: center;
    margin-bottom: 0.7em;
    font-weight: 700;
    font-size: 30px;
    color: antiquewhite;
}
.resident_separator {
    margin-bottom: 0.5em;
    border-color: rgba(255, 255, 255, 0.774);
}
.resident_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.9em;
    margin-left: -2rem;

}
.resident_item {
    display: flex;
    flex-direction: column;
}
.resident_label {
    font-size: 1.2rem;
  
}
.resident_label2 {
    font-size: 0.8rem;
    color: #aaa;
}
.indefinido{
  display: flex;
  padding: 0;
  text-align: center;
  justify-content: center;
  font-size: 2rem;
  margin-bottom: 5px;
}
select{
    border: none;
}
#separa {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   justify-content: space-evenly;
   justify-items: center;
   gap: 2rem; 
   
}
#barra {
    box-shadow: 0 5px 10px #aaa;
    margin-top: -1rem;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: 6rem;
    width: 130px;
    height: 40px;
    border-radius: 10px;
    padding: 10px;
}
#li2 {       
    padding: 2px;
    justify-items: center;
}
.link-name{
    color:blue;
    border: 1px solid red;
}
.grass {
    background-color: 2px green;
}
.fire {
    background-color: firebrick;
}